DATABASE_URL="postgresql://postgres:password@localhost:5432/postgres"
APP_URL="http://localhost:3000"
HUB_URL="https://nemes.farcaster.xyz:2281"
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
